input{
    margin: 8px;
    border-radius: inherit;
    border: radius 1px;

}
input{
    background-color: rgb(248, 210, 247);

}
#address{
    background-color: palegreen;
}
.head{
    font-family:'Times New Roman', Times, serif;
    font-style: italic, bold, underline;
    font: xx-large;
    color: midnightblue;


}
h1{
    color: purple;
}
/* .html{
    background-image: image(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fcontact-us&psig=AOvVaw21U-XIyBOYl1HhezvLMmEN&ust=1642837430232000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNDNzruswvUCFQAAAAAdAAAAABAD);
} */
#send{
    font-size: 30;
    background-color:pink;
}